$pointerWidth: 3rem;
.mouse-down {
  &_pointer {
    &_horizontal {
      width: 3rem;
      height: 3rem;
      margin-left: -1.5rem;
      margin-top: -3rem;
      position: absolute;
      animation: infinite-spinning 8s infinite linear;
    }
    &_vertical {
      width: 3rem;
      height: 3rem;
      margin-top: -1.5rem;
      margin-left: -3rem;
      position: absolute;
      animation: infinite-spinning 8s infinite linear;
    }
  }
  &_direction {
    &_horizontal {
      width: 16px;
      height: 16px;
      padding: 32px;
      position: absolute;
      top: -1em;
      left: 0;
      z-index: 2;
    }
    &_vertical {
      width: 16px;
      height: 16px;
      padding: 32px;
      position: absolute;
      top: 0em;
      left: -0.95em;
      z-index: 2;
    }
  }
  &_dash {
    &_horizontal {
      z-index: 2;
      position: absolute;
      border-left: 1px white dashed;
    }
    &_vertical {
      z-index: 2;
      position: absolute;
      border-top: 1px white dashed;
    }
  }
  &_reverseOrigin {
    &_horizontal {
      width: 3rem;
      height: 3rem;
      margin-left: -1.5rem;
      position: absolute;
    }
    &_vertical {
      width: 3rem;
      height: 3rem;
      margin-top: -1.5rem;
      position: absolute;
    }
  }
  &_cursor {
    &_horizontal {
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 0.5em;
      left: -1em;
      z-index: 2;
    }
    &_vertical {
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 0.5em;
      top: -1em;
      z-index: 2;
    }
  }
  @media (min-height: 1000px) {
    &_pointer {
      &_horizontal {
        width: 4rem;
        height: 4rem;
        margin-top: -4rem;
        margin-left: -2rem;
        position: absolute;
        animation: infinite-spinning 8s infinite linear;
      }
      &_vertical {
        width: 4rem;
        height: 4rem;
        margin-top: -2rem;
        margin-left: -4rem;
        position: absolute;
        animation: infinite-spinning 8s infinite linear;
      }
    }
    &_reverseOrigin {
      &_horizontal {
        width: 4rem;
        height: 4rem;
        margin-left: -2rem;
        position: absolute;
      }
      &_vertical {
        width: 4rem;
        height: 4rem;
        margin-top: -2rem;
        position: absolute;
      }
    }
    &_cursor {
      &_horizontal {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 0.5em;
        left: -1.5em;
        z-index: 2;
      }
      &_vertical {
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 0.5em;
        top: -1.5em;
        z-index: 2;
      }
    }
    &_direction {
      &_horizontal {
        width: 16px;
        height: 16px;
        padding: 32px;
        position: absolute;
        top: -0.5em;
        left: 0;
        z-index: 2;
      }
      &_vertical {
        width: 16px;
        height: 16px;
        padding: 32px;
        position: absolute;
        top: 0em;
        left: -0.5em;
        z-index: 2;
      }
    }
  }
  @media (min-height: 1400px) {
    &_pointer {
      &_horizontal {
        width: 5rem;
        height: 5rem;
        margin-top: -5rem;
        margin-left: -2.5rem;
        position: absolute;
        animation: infinite-spinning 8s infinite linear;
      }
      &_vertical {
        width: 5rem;
        height: 5rem;
        margin-top: -2.5rem;
        margin-left: -5rem;
        position: absolute;
        animation: infinite-spinning 8s infinite linear;
      }
    }
    &_reverseOrigin {
      &_horizontal {
        width: 5rem;
        height: 5rem;
        margin-top: -0rem;
        margin-left: -2.5rem;
        position: absolute;
      }
      &_vertical {
        width: 5rem;
        height: 5rem;
        margin-top: -2.5rem;
        margin-left: 0rem;
        position: absolute;
      }
    }
    &_cursor {
      &_horizontal {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 0.5em;
        left: -2em;
        z-index: 2;
      }
      &_vertical {
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 0.5em;
        top: -2em;
        z-index: 2;
      }
    }
    &_direction {
      &_horizontal {
        width: 16px;
        height: 16px;
        padding: 32px 60px;
        position: absolute;
        top: -0em;
        left: -1em;
        z-index: 2;
      }
      &_vertical {
        width: 16px;
        height: 16px;
        padding: 80px 32px;
        position: absolute;
        top: -2em;
        left: -0em;
        z-index: 2;
      }
    }
  }
}

@keyframes infinite-spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
