@font-face {
    font-family: "SharpGrotesk";
    src: url("./assets/font/SharpGroteskTRIALBook15.otf");
}

@font-face {
    font-family: "SoyuzGrotesk";
    src: url("./assets/font/Soyuz Grotesk Bold.otf");
}

